<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SpinningLog.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <userSettings>
        <SpinningLog.Properties.Settings>
            <setting name="last_open_filesX" serializeAs="String">
                <value />
            </setting>
            <setting name="valid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="editor_exe" serializeAs="String">
                <value>C:\Users\takah\AppData\Local\Programs\Microsoft VS Code\Code.exe</value>
            </setting>
            <setting name="editor_goto_option" serializeAs="String">
                <value>--goto ${FILENAME}:${LINENO1}</value>
            </setting>
            <setting name="last_sett" serializeAs="String">
                <value />
            </setting>
        </SpinningLog.Properties.Settings>
    </userSettings>
</configuration>
